@import "config";

// Scroll Bar Styles
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #cecece;
}

::-webkit-scrollbar-thumb {
  background-color: $navbar-pink;
  border-radius: 5px;
}

body, html, button {
  font: $font-stack;
}

body::before {
  content: "";
  height: 60px;
  display: block;
}

.nav {
  display: flex;
  max-height: 100px;
  padding: 0.7rem 5rem;
  background: #ffffffb3;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;

  .nav-brand {
     max-width: 200px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .nav-ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: auto;
    text-transform: uppercase;
    font-weight: 400;

    a {
      text-decoration: none;
      color: $text-black;
    }

    .nav-item {
      margin-right: 2rem;
      position: relative;

      &#nav-gallery {
        cursor: pointer;
      }
      .fa-chevron-down {
        font-size: 0.8rem;
      }

      .nav-dropdown {
        list-style: none;
        display: none;
        position: absolute;
        top: 18px;
        padding-top: 1rem;
        background: transparent;
        text-transform: capitalize;
        font-weight: 300;
        background: $primary-white;

        li {
          padding: 1rem 6rem 1rem 0.5rem;

          &:hover {
            background: $primary-purple;
            a {
              color: $primary-white;
            }
          }
        }
      }
    }
  }

  .collapse-icon {
    display: none;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;

    &:hover {
      color: $primary-purple;
    }
  }
  .close-nav {
    display: none;
    position: absolute;
    top: 20%;
    right: 2%;
    background: transparent;
    color: #fff;
    padding: 0.7rem 0.9rem;
    border: none;
    cursor: pointer;

    &:hover {
      color: $primary-purple;
    }
  }
}

.carousel {
  position: relative;
  padding-bottom: 2rem;

  .owl-item {
    .carousel-item {
      height: 95vh;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      h3 {
        font: 300 2rem 'Raleway', sans-serif;
        background-color: $navbar-pink;
        padding: 1rem;
        margin: 5rem auto 1rem;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        position: relative;
        top: -600px;
      }
  
      p {
        background-color: $navbar-pink;
        color: #fff;
        padding: 1rem;
        font-size: 1.3rem;
        letter-spacing: 0.1em;
        position: relative;
        opacity: 0;
        left: -600px;
      }
    }

    &.active {
      .carousel-item {
        h3 {
          animation-name: slide-down;
          animation-duration: 2s;
          animation-delay: 0.5s;
          animation-fill-mode: forwards;
        }

        p {
          animation: slide-right 2s 2s forwards;
        }

        // Animations
        @keyframes slide-down {
          0% {
            top: -600px;
          }
          100% {
            top: 0;
          }
        }

        @keyframes slide-right {
          0% {
            opacity: 0;
            left: -600px;
          }
          100% {
            opacity: 1;
            left: 0;
          }
        }
      }
    }
  }

  .owl-nav {
    %owl-button {
      outline: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: #fff !important;
      font-size: 5rem !important;
      font-weight: 500 !important;
      height: 100%;
      width: 5rem;
      margin: 0 !important;
      opacity: 0.5;
      transition: all ease 1s;

      &:hover {
        opacity: 1;
        background: transparent !important;
      }
    }

    .owl-prev {
      @extend %owl-button;
      left: 0;
    }

    .owl-next {
      @extend %owl-button;
      right: 0;
    }
  }
  
  .owl-dots {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: -2em;
    opacity: 0.5;
    transition: opacity ease 1s;

    &:hover {
      opacity: 1;
    }
    
    .owl-dot {
      outline: none;

      span {
        background: $background-black;
      }

      &:hover {
        span {
          background: $background-green;
        }
      }

      &.active {
        span {
          background: $background-green;
        }
      }
    }
  }
}

// Carousel Background Images
.carousel-first {
  background: url("https://images.unsplash.com/photo-1431794062232-2a99a5431c6c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80") center/cover no-repeat;
}

.carousel-second {
  background: url("https://images.unsplash.com/photo-1497436072909-60f360e1d4b1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80") center/cover no-repeat;
}

.carousel-third {
  background: url("https://images.unsplash.com/photo-1444464666168-49d633b86797?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=869&q=80") center/cover no-repeat;
}

.intro {
  text-align: center;
  padding: 5rem;
  
  h1 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
  }
  p {
    margin-bottom: 1rem;
  }
}

.contents {
  padding: 5rem;
  margin: auto;
  text-align: center;
  background: $background-grey;

  .content-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem 1rem;

    .content-item {
      display: flex;
      flex-direction: column;

      .content-icon {
        font-size: 2rem;
        margin-bottom: 1rem;
      }

      h3 {
        font-size: 1.31rem;
        font-weight: 400;
        margin-bottom: 1rem;
      }

      p {
        font-size: 0.9rem;
      }
    }
  }
}

.gallery {
  padding: 3rem;

  .menus {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;

    button {
      padding: 0.5rem;
      background: $background-black;
      color: $primary-white;
      margin-right: 0.5rem;
      border: none;
      outline: none;
      cursor: pointer;
      font-weight: 300;
      font-size: 0.9rem;

      &:hover {
        background: $primary-purple;
      }

      &.active {
        background: $primary-purple;
      }
    }
  }

  .gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 0.05em;

    .gallery-item {
      position: relative;
      overflow: hidden;

      i {
        position: absolute;
        top: 42%;
        left: 42%;
        font-size: 3.5rem;
        opacity: 0.8;
        z-index: 1;
      }

      img {
        width: 100%;
        height: 100%;
        transition: all 0.7s ease;
        filter: grayscale(100%);

      }
      .gallery-menus {
        position: absolute;
        top: 30%;
        z-index: 2;
        width: 100%;
        text-align: center;
        color: $primary-white;
        display: none;
  
        .gallery-options {
          display: flex;
          justify-content: center;
          margin-bottom: 2rem;
  
          button {
            border: 1px solid $primary-white;
            padding: 0.2rem 0.7rem;
            background: transparent;
            border-radius: 20px;
            margin-right: 1rem;
            text-transform: uppercase;
            font-size: 0.9rem;
            color: $primary-white;
            cursor: pointer;

            &:hover {
              background: $background-black;
              border-color: $background-black;
            }
          }
        }
        
        a {
          display: inline-block;
          font-size: 1.3rem;
          font-weight: 400;
          margin-bottom: 1rem;
          color: $primary-white;
          text-decoration: none;
        }
  
        p {
          font-size: 0.9rem;
        }
      }
    }
  }
}

footer {
  background-color: $primary-purple;
  color: $primary-white;
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.7em;

  a {
    color: $primary-white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

// Styles for About Page
.about-main {
  background-color: $background-grey;

  h1 {
    text-align: center;
    font-weight: 600;
    padding: 5rem 5rem 3rem;
    
  }
  p {
    font-size: 0.9rem;
    line-height: 1.7em;
    text-align: justify;
  }
  .intro-heading {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    padding: 0rem 5rem 3rem;
    
    .intro-text {
      h2 {
        margin: 2rem 0 1rem;
        font-weight: 600;
        font-size: 2rem;
      }
    }
    .intro-image {
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .about-ending {
    padding: 5rem 5rem 3rem;
    background-color: $primary-white;
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 2rem;
    
    .ending-image {
      img {
        width: 100%;
        height: 100%;
      }
    }
  }



}


@import "media";